@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.img_logo {
    width: 117px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    height: 100%;
}

.item_menu {
    color: #004A8D;
    font-size: 18px;
    font-weight: 600;
    transition: 0.6s;
    /* display: flex;
    gap: 8px; outra opção para separar o icone(pesquisar) da escrita
    align-items: center; */
}

.item_menu:hover {
    color: #F7941D;
    cursor: pointer;
}

/* Informações da navegação */

.info_nav {
    background-color: #004A8D;
    width: 100%;
    padding: 10px 0;
}

.info_nav_pag {
    list-style: none;
    color: #fff;
    display: flex;
    gap: 0.7rem;
    margin: 0 auto;
    width: 1200px;
    padding: 0 !important;
}

.texts {
    width: 70%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3rem 2rem;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.texts h2 {
    font-size: 2.3rem;
    width: 60%;
    text-align: left;
}

.texts p {
    text-align: justify;
    width: 80%;
    font-size: 1.2rem;
}

.texts a {
    width: 370px;
    height: 65px;
    background-color: #F7941D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    transition: 1s;
}

.texts a:hover {
    background-color: #4CBF69;
}

main {
    background-color: #E4E8F0;
}

footer{
    width: 100%;
    background-color: #004A8D;
    color: #fff;
    padding-top: 3rem;
}

.conteudo_footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.listas_nav_footer{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.lista_footer{
    list-style: none;
    width: 250px;

}

.item_titulo{
    font-size: 1.2rem;
    color: #b4aeae;
    margin-bottom: 0.8rem;
}

.item_lista{
    margin-bottom: 5px;
    transition: 0.6s;
}

.item_lista:hover{
    font-weight: 800;
    opacity: 0.8;
    cursor: pointer;
    color: #F7941D;
}

.info_senac_footer{
    display: flex;
    gap: 2rem;

}

.nav_icones{
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.listas_icones_footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3rem;
}

.copy{
 width: 100%;
 padding: 3rem 0;
 background-color: #00427e;
}

.copy h3{
    width: 1200px;
    margin: 0 auto;
    font-size: 1rem;
}

@media (max-width: 576px) {
    .texts {
        display: none !important;
    }

    .nav li {
        width: 100%;
    }

    .nav input {
        width: 100%;
    }

    .conteiner_cards {
        width: 85%;
        padding: 0;
    }

    .card_eventos {
        width: 100%;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    figure {
        display: flex;
        justify-content: center;
    }

}

/* .lista_footer li:first-child{
    font-size: 1.0rem;
    color: #817e7e;
    margin-bottom: 0.8rem;
} */

/* .lista_footer li{
    margin-bottom: 5px;
    transition: 1s;
} */